---
// Root index page - silent redirect to default locale (no visible redirect message)
import { defaultLocale } from '../i18n/utils';
import { getUrl } from '../utils';

// Used in meta refresh and script in template (ESLint does not see Astro template usage)
// eslint-disable-next-line @typescript-eslint/no-unused-vars -- used in HTML template
const redirectPath = getUrl(`/${defaultLocale}/`);
---
<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url={redirectPath}" />
    <script is:inline>
      window.location.replace('{redirectPath}');
    </script>
    <title></title>
  </head>
  <body></body>
</html>
